# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
.venv/

# OS junk
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Output directories
logs/
dataflux_output/
.parquet/
*.parquet
*.csv

# Mock data
mock_data/
